<% if user_signed_in? %>
  <ul id="comment">
  <li><%= comment.body %></li>
  <li><%= comment.user_id %> </li>

  <% if can? :update, comment %>
  <li><%= link_to "Edit" , edit_micropost_comment_path(comment.micropost, comment) %> </li>
    <% end %>
  <% if can? :destroy, comment %>
  <li> <%= link_to "Delete" , micropost_comment_path(comment.micropost, comment), method: :delete, data: {confirm: "Are you sure ?"}, :remote => true, :class => 'delete_comment'  %> </li>
  <% end %>
  </ul>
  <% end %>