/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body, html
  padding: 0
  margin: 0
  height: 100%

header
  border: solid
  padding: 50px 0 30px
  display: flex
  justify-content: flex-end
  align-items: center

  ul
    a
      color: #2d2d2d
      text-decoration: none
      display: inline-block
      border-bottom: 2px solid transparent
      transition: .2s
      &:hover
        color: #2d2d2d
        border-bottom: 2px solid #2d2d2d
        transition: .2s
    li
      display: inline-block
      margin: 0 20px 0 0
      text-transform: uppercase
      font-weight: 600
      font-size: 11px
      letter-spacing: 1px

.page-wrapper
  width: 100%
  height: 100%
  margin: 0 auto
  padding: 0 10px
  box-sizing: border-box
  display: flex
  flex-direction: column


.container
  border: solid
  flex-grow: 1
  line-height: 1.8






















