// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//.deleteComment{
//  color: deepskyblue;
//  cursor: pointer;
//}

#all-comments
  font-family: 'Ruda', sans-serif
  ul
    list-style-type: none
    padding: 0
    display: flex
    justify-content: space-around
    li
      font-family: 'Ruda', sans-serif
      margin: 0 5px

.comment-container
  //textarea
  //  width: 30%
  //  box-shadow: 0 0 5px 3px rgba(95,151,216,.14)
  input
    background: #424141
    color: #fff
    text-align: center
    font-size: 14px
    cursor: pointer
    height: 27px
    line-height: 27px
    padding: 0 10px

  a
    background-color: #333
    color: #FFF
    display: block
    font-family: 'Pontano Sans', sans-serif
    font-size: 14px
    padding: 14px
    text-align: center
    text-decoration: none
    text-transform: uppercase
    height: 10px
    width: 60px




























