// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#microposts {
  tr{
    display: flex;
    flex-wrap: wrap;
  }

  td {
    background: #fff;
    margin: 10px;
    box-sizing: border-box;
    padding: 10px;

  }

}

