doctype html
html
  head
    title Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body
    p class="notice"
    = notice
    p class="alert"
    = alert

    .page-wrapper

      header
        = render 'layouts/header'


      - if user_signed_in?
        span Здравствуйте,
        = current_user.email
        = link_to 'Выйти', destroy_user_session_path, :method => :delete

      - else
        = link_to 'Войти', new_user_session_path
        = link_to 'Зарегистрироваться', new_user_registration_path

      .container
        == yield

